*{
	padding: 0 0 0 0;
	margin : 0 0 0 0;
}

body, html{
	height:100%;
}

#content{
	height:100%;
}

#searchInput{
	width:550px;
}

#title{
	font-family: "Aaargh";
	font-size: 80px;
}

#logo{
	height: 80px;
}

#header{
	padding-bottom: 20px;
	padding-top: 250px;
}

.container{
	text-align:center;
	vertical-align: middle;
}

.container .element{
	display:inline-block;
}

@font-face {
  font-family: "Aaargh";
  src: url("../fonts/aaargh-webfont.ttf");
}