*{
	padding: 0 0 0 0;
	margin : 0 0 0 0;
	font-family: "Aaargh";
}

body, html{
	height:100%;
}

hr{
	color: #DDD;
	background-color: #DDD;
	border: 0;
	height: 1px;
}

p{
	text-indent: 25px;
	font-size: 20px;
}




#content{
	height:100%;
}

#searchInput{
	width:550px;
}

#title{
	font-family: "Aaargh";
	font-size: 80px;
}

#logo{
	height: 80px;
}

#header{
	padding-bottom: 20px;
	padding-top: 250px;
}

#searchBox{
	width:100%;
}

#mainSearch{
	padding-bottom: 20px;
}

#resultsContainer{
	padding: 0 150px;
}

#articleImage{
	width: 100%;
}

#articleImageContainer{
	height: 250px;
	overflow: hidden;
	margin-bottom: 20px;
}

#article{
	margin: 0 15px;
}




.container{
	text-align:center;
	vertical-align: middle;
}

.container .element{
	display:inline-block;
}

.noMargin{
	margin: 0 !important;
}

.noShadow{
	box-shadow: none !important;
}

@font-face {
  font-family: "Aaargh";
  src: url("../fonts/aaargh-webfont.ttf");
}
